body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#calc {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="button"] {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #3e8e41;
}